@page "/tags"
@using CRMCQRS.Application.Tags.Queries
@using CRMCQRS.Infrastructure.Authentication.Policies
@using Microsoft.AspNetCore.Authorization
@using MudBlazor
@attribute [Authorize(Policy = $"{Policy.Developer},{Policy.Admin},{Policy.DepartmentHead}")]

<PageTitle>Теги</PageTitle>
<MudText Align="Align.Center" Class="m-2" Typo="Typo.h5">Теги</MudText>
<MudItem Class="align-items-end d-flex flex-column m-2">
    <MudButton Color="Color.Primary" OnClick="OpenDialog" Variant="Variant.Filled">Добавить</MudButton>
</MudItem>

@if (_pagedList.TotalPages > 1)
{
    <div class="align-center d-flex flex-column">
        <MudPagination BoundaryCount="2" Class="mt-4" Count="@_pagedList.TotalPages" MiddleCount="5" SelectedChanged="SelectedPage"/>
    </div>
}

<MudDataGrid Items="@_pagedList.Items" T="TagViewModel">
    <Columns>
        <PropertyColumn Property="x => x.Title" Title="Название"/>
        <TemplateColumn T="TagViewModel" Title="Цвет">
            <CellTemplate>
                <MudIcon Icon="@Icons.Material.Filled.Label" Size="Size.Large" Style="@($"color: {context.Item.Color}")"/>
            </CellTemplate>
        </TemplateColumn>
        <TemplateColumn CellClass="d-flex justify-end">
            <CellTemplate>
                <MudTooltip Text="Изменить">
                    <MudIconButton Icon="@Icons.Material.Filled.Edit" OnClick="@(() => StartedEditingItem(context.Item))"/>
                </MudTooltip>
                <MudTooltip Text="Удалить">
                    <MudIconButton Icon="@Icons.Material.Filled.Delete" OnClick="@(() => DeleteTag(context.Item.Id))"/>
                </MudTooltip>
            </CellTemplate>
        </TemplateColumn>
    </Columns>
</MudDataGrid>